.uploaded-pdf-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #ebe6e6;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(232, 229, 229, 0.1);
    background-color: #f8f3f3; /* Grey background color */
    padding: 5px;
    width: 100px;
    overflow: hidden; /* Prevents long filenames from overflowing */
    text-overflow: ellipsis; /* Adds ellipsis (...) for long filenames */
    white-space: nowrap; /* Ensures filename stays on one line */
  }
  
  .uploaded-pdf-content {
    text-align: center;
    font-size: 10px;
    margin: 0;
    color: #0FA958 
  }
  